{% extends "base.html" %}
{% load static %}

{% block site-title %}
Evrak Listesi
{% endblock site-title %}


{% block site-content %}
<div class="container">


    <!-- Django Filter Start -->
    <form method="get" action="{% url 'document-liste' %}">
        <div class="card p-5 mt-5">
            <div class="card-header">Detaylı Arama</div>
            <div class="row justify-content-center align-items-center mt-5 mb-5">
                <div class="col-md-2">
                    <label for="id_docno" class="mb-2">Evrak No</label>
                    {{form.docno}}
                </div>
                <div class="col-md-2">
                    <label for="id_relevantunit" class="mb-2">İlgili Birim</label>
                    {{form.relevantunit}}
                </div>
                <div class="col-md-2">
                    <label for="id_docdate" class="mb-2">Evrak Tarihi</label>
                    {{form.docdate}}
                </div>
                <div class="col-md-2">
                    <label for="id_docsubject" class="mb-2">Evrak Konusu</label>
                    {{form.docsubject}}
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-success">Filtrele</button>
                </div>
            </div>
        </div>


    </form>
    <div class="card mt-5 p-5">
        <table class="table table-striped" id="tablo">
            <!-- Tablo başlıkları -->
            <thead>
                <tr>
                    <th>Evrak No</th>
                    <th>Evrak Tarihi</th>
                    <th>İlgili Birim</th>
                    <th>İlgili Kurum</th>
                    <th>Evrak Konusu</th>
                    <th>Evrak Detayı</th>
                    {% if request.user.is_superuser or request.user.isModerator == True %}
                    <th>İşlemler</th>
                    {% endif %}
                </tr>
            </thead>
            <!-- Tablo verileri -->
            <tbody>
                {% for document in documents %}
                <tr>
                    <td>{{ document.docno }}</td>
                    <td>{{ document.docdate }}</td>
                    <td>{{ document.relevantunit }}</td>
                    <td>{{ document.relevantinstitution }}</td>
                    <td>{{ document.docsubject }}</td>
                    <td>{{ document.detail }}</td>
                    {% if request.user.is_superuser or request.user.isModerator == True %}
                    <td><a href="#" class="mb-2 me-3"><button class="btn btn-danger">Sil</button></a><a href="#"><button
                        class="btn btn-info">Düzenle</button></a></td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock site-content %}