.env
archaeologyMain/data/
archaeologyMain/Uploads/

# Ignore Django Migrations in Development if you are working on team
**/migrations/**
!**/migrations
!**/migrations/__init__.py
__pycache__
db.sqlite3
# Ignore python virtual env
env/
venv/

# Ignore DsStore
**/.DS_Store
archaeologyMain/tavsanli-41bb0a89bf6a.json