.env
archaeologyMain/data/
archaeologyMain/Uploads/
venv/
staticfiles/
media/

# Ignore Django Migrations in Development if you are working on team
**/migrations/**
!**/migrations
!**/migrations/__init__.py

# Ignore DsStore
**/.DS_Store
archaeologyMain/tavsanli-41bb0a89bf6a.json