.env
archaeologyMain/data/
archaeologyMain/Uploads/
venv/
staticfiles/
media/

# Ignore Django Migrations in Development if you are working on team
**/migrations/**
!**/migrations
!**/migrations/__init__.py

# Ignore DsStore
**/.DS_Store

archaeologyMain/avian-curve-266518-6ca119fc33ee.json