{% extends "base.html" %} {% load static %} {% block site-title %} Rapor Listesi
{% endblock site-title %} {% block site-content %}
<div class="container">
  <!-- Django Filter Start -->
  <form method="get" action="{% url 'rapor-liste' %}" enctype="multipart/form-data">
    <div class="card p-5 mt-5">
      <div class="card-header">Detaylı Arama</div>
      <div class="row justify-content-center align-items-center mt-5 mb-5">
        <div class="col-md-2">
          <label for="id_title" class="mb-2">Rapor Başlık</label>
          {{ form.title }}
        </div>
        <div class="col-md-2">
          <label for="id_rapordetail" class="mb-2">Rapor Açıklama</label>
          {{ form.rapordetail }}
        </div>
        <div class="col-md-2">
          <label for="id_owner" class="mb-2">Formu Dolduran</label>
          {{ form.owner }}
        </div>
        <div class="col-md-2">
          <label for="id_rapordate" class="mb-2">Rapor Tarihi</label>
          {{ form.rapordate }}
        </div>
        <div class="col-md-1">
          <button type="submit" class="btn btn-success">Filtrele</button>
        </div>
      </div>
    </div>
  </form>
  <!-- Django Filter End -->

  <div class="card mt-5 p-5">
    <table class="table table-striped" id="tablo">
      <!-- Tablo başlıkları -->
      <thead>
        <tr>
          <th>Rapor Başlık</th>
          <th>Rapor Açıklama</th>
          <th>Rapor Tipi</th>
          <th>Buluntu Yeri</th>
          <th>Raporu Dolduran</th>
          <th>Rapor Tarihi</th>
          <th>Veriyi Giren</th>
          {% if request.user.is_superuser or request.user.isModerator == True %}
          <th>İşlemler</th>
          {% endif %}
        </tr>
      </thead>
      <!-- Tablo verileri -->
      <tbody>
        {% for rapor in rapors %}
        <tr>
          <td>{{ rapor.title }}</td>
          <td>{{ rapor.rapordetail }}</td>
          <td>{{ rapor.rapor_type }}</td>
          <td>{{ rapor.placebuluntu }}</td>
          <td>{{ rapor.owner }}</td>
          <td>{{ rapor.rapordate }}</td>
          <td>{{ rapor.user }}</td>
          {% if request.user.is_superuser or request.user.isModerator == True %}
          <td>
            <a
              href="#"
              class="mb-2 me-3"
              data-bs-toggle="modal"
              data-bs-target="#deletealert{{ rapor.id }}"
              ><i class="fa-solid fa-trash text-danger"></i
            ></a>
            <a
              href="#"
              class="mb-2 me-3"
              data-bs-toggle="modal"
              data-bs-target="#updateModal{{ rapor.id }}"
              ><i class="fa-solid fa-pencil"></i
            ></a>
            <a
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#viewModal{{ rapor.id }}"
              ><i class="fa-solid fa-magnifying-glass"></i
            ></a>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- Modals for each report -->
  {% for rapor in rapors %}
  <!-- Modal Delete -->
  <div
    class="modal fade"
    id="deletealert{{ rapor.id }}"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Silmek İstediğinizden Emin Misiniz?
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-footer justify-content-center">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Vazgeç
          </button>
          <a href="{% url 'delete-rapor' rapor.id %}"
            ><button type="button" class="btn btn-danger">Sil</button></a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Delete End -->

  <!-- Update Modal -->
  <div
    class="modal fade"
    id="updateModal{{ rapor.id }}"
    tabindex="-1"
    role="dialog"
    aria-labelledby="updateModalLabel{{ rapor.id }}"
    aria-hidden="true"
  >
    <div
      class="modal-dialog"
      role="document"
      style="max-width: 900px; max-height: 1500px"
    >
      <div class="modal-content">
        <form
          method="post"
          action="{% url 'update-rapor' rapor.id %}"
          class="update-form"
        >
          {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title" id="updateModalLabel{{ rapor.id }}">
              Rapor Güncelle
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            {% for form_id, form in updateForms.items %} 
            {% if form_id == rapor.id %}
            <div class="row justify-content-between mt-3 p-3">
              <div class="col-md-12">
                  <div class="d-flex align-items-center mb-4">
                      {% for radio in form.rapor_type %}
                          <div class="form-check form-check-inline">
                              {{ radio }}
                          </div>
                      {% endfor %}
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="row">
                      <div class="col-md-6">
                          <label for="id_placebuluntu">Buluntu Yeri</label>
                          {{form.placebuluntu}}
                      </div>
                      <div class="col-md-6">
                          <label for="id_rapordate">Rapor Tarihi</label>
                          {{form.rapordate}}
                      </div>
                      <div class="col-md-12">
                          <label for="id_title">Başlık</label>
                          {{form.title}}
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="row">
                      <div class="col-md-12">
                          <label for="id_owner">Formu Dolduran</label>
                          {{form.owner}}
                      </div>
                      <div class="col-md-12">
                          <label for="id_user">Veri Giren</label>
                          {{form.user}}
                      </div>
                  </div>
              </div>
          </div>
          <div class="card-header mt-3">
            Rapor Detay
        </div>
        {{form.rapordetail}}
        <div class="card-header mt-3">
            Evrak Yükleme
        </div>
        {{form.file}}
          {% endif %}
          {% endfor %}
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Kapat
            </button>
            <button type="submit" class="btn btn-primary">Kaydet</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Update Modal End -->
  
  <!-- View Modal -->
  <div
  class="modal fade"
  id="viewModal{{ rapor.id }}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="viewModalLabel{{ rapor.id }}"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document" style="max-width: 900px; max-height: 1500px">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewModalLabel{{ rapor.id }}">
          Rapor Detayları
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Rapor details here -->
        <p><strong>Rapor Başlık:</strong> {{ rapor.title }}</p>
        <p><strong>Rapor Açıklama:</strong> {{ rapor.rapordetail }}</p>
        <p><strong>Rapor Tipi:</strong> {{ rapor.rapor_type }}</p>
        <p><strong>Rapor Detay:</strong> {{ rapor.rapordetail }}</p>
        <p><strong>Buluntu Yeri:</strong> {{ rapor.placebuluntu }}</p>
        <p><strong>Raporu Dolduran:</strong> {{ rapor.owner }}</p>
        <p><strong>Rapor Tarihi:</strong> {{ rapor.rapordate }}</p>
        <p><strong>Rapor Dosyası:</strong> <a href="{{rapor.file.url}}">{{ rapor.file }}</a></p>
        <p><strong>Veriyi Giren:</strong> {{ rapor.user }}</p>
        <!-- Add more details as needed -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
      </div>
    </div>
  </div>
</div>
  <!-- View Modal End -->
  {% endfor %}
</div>
{% endblock site-content %}
