/* Login Screen Start*/

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  padding: 30px;
  background: rgb(10, 61, 62);
  border-radius: 15px 15px;
  width: 450px;
}

/* Login Screen End */

/* 404 Page Start */
.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
  border-radius: 15px 15px;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
  border-radius: 15px 15px;
  text-decoration: none;
}

.contant_box_404 {
  margin-top: -50px;
}
/* 404 Page End */


/* nav */
#ul-items li.nav-item a {

  display: flex;
  align-items: center;
  gap: 5px;
}


.indepent {
  width: 15px;
  font-weight: 700;
}

.dropdown-menu[data-bs-popper] {

  left: -80px;
}


nav .search-bar {

  min-width: 207px;
  max-width: 50%;
}


nav .container-fluid {

  flex-wrap: wrap !important;
}


.instruactionElements textarea {

  width: 50%;
}

.instruactionElements select {
  width: 50%;
}
.instruactionElements .additional-element-container {

  display: flex;
}


.instruactionElements .additional-element-container div {

  margin-left: 8px;
}




/* resp */
@media screen and (max-width: 800px) {

  .instruactionElements textarea {

    width: 100%;
  }

  .instruactionElements select {

    width: 100%;
  }


  .instruactionElements .additional-element-container {

    display: block;
  }

}


.errorlist li {

  list-style-type: none;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.truncate-1-lines {
  -webkit-line-clamp: 1;
}

.truncate-2-lines {
  -webkit-line-clamp: 2;
}

.truncate-3-lines {
  -webkit-line-clamp: 3;
}

.truncate-4-lines {
  -webkit-line-clamp: 4;
}

.truncate-5.lines {
  -webkit-line-clamp: 5;
}