{% extends "base.html" %}



{% block site-content %}
  
   

    <div class="mt-3" style="width: 90%; margin: auto;">
        


    <div class="card">

      <div class="card-header">
        Buluntu Kayıt Formu Genel Bilgiler
      </div>

    <form class="row p-3">
      
        <div class="col-md-6">
          <label for="id_year" class="form-label">Tavşanlı Hoyuk Yıl Bilgisi</label>
          {{form.year}}
        </div>

        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Buluntu Tarihi</label>
          {{form.date}}
        </div>

        <div class="col-md-2">
          <label for="id_plankareX" class="form-label">Plankare X</label>
          {{form.plankareX}}

        </div>

        
        <div class="col-md-2">
            <label for="id_plankareY" class="form-label">Plankare Y</label>
            {{form.plankareY}}
  
          </div>


          
        <div class="col-md-2">
            <label for="id_plankareNo" class="form-label">Plankare No Sonuç</label>
            {{form.plankareNo}}
          </div>


          <div class="col-md-3">
            <label for="id_gridX" class="form-label">Grid X</label>
            {{form.gridX}}
  
          </div>

          <div class="col-md-3">
            <label for="id_gridY" class="form-label">Grid Y</label>
            {{form.gridY}}
  
          </div>


          <div class="row">

            <div class="col-md-3">
              <label for="id_no" class="form-label">Buluntu No</label>
              {{form.no}}
            </div>

            <div class="col-md-3">
              <label for="id_secondaryNo" class="form-label">Küçük Buluntu No</label>
              {{form.secondaryNo}}
            </div>

            <div class="col-md-3">
              <label for="id_noResult" class="form-label">Buluntu No Sonuç</label>
              {{form.noResult}}
            </div>
            

            <div class="col-md-3">
              <label for="id_type" class="form-label">Buluntu Türü</label>
              {{form.type}}
            </div>
            
          </div>


          <div class="col-md-3">
            <label for="id_nivo" class="form-label">Açılış Nivosu</label>
            {{form.nivo}}
  
          </div>
  
          
          <div class="col-md-3">
              <label for="id_nivo_h" class="form-label">Açılış Nivosu H</label>
              {{form.nivo_h}}
    
            </div>
  
  
            
          <div class="col-md-3">
              <label for="id_shut_nivo" class="form-label">Kapanış Nivosu</label>
              {{form.shut_nivo}}
            </div>
  
  
            <div class="col-md-3">
              <label for="id_shut_nivo_h" class="form-label">Kapanış Nivosu H</label>
              {{form.shut_nivo_h}}
    
            </div>
  

            <div class="row justify-content-around">

            <div class="col-md-3">
                <label for="id_kor_x" class="form-label">Kordinat X</label>
                {{form.kor_x}}
      
            </div>


            <div class="col-md-3">
                <label for="id_kor_y" class="form-label">Kordinat Y</label>
                {{form.kor_y}}
            </div>

            <div class="col-md-3">
                <label for="id_kor_h" class="form-label">Kordinat H</label>
                {{form.kor_h}}
            </div>
        
          </div>

       
    
         <div class="col-md-6">
                <label for="id_area" class="form-label">Buluntu Kova Alanı</label>
                {{form.area}}

                <div class="text-center mb-3">
                    <span class="text-muted">Çoklu seçim yapmak için CTRL + Sol tık yapın.</span>
                </div>
            
          </div>

     
          <div class="col-md-6">

            <div class="row">

                <div class="col-md-12">
                    <label for="id_colour" class="form-label">Renk</label>
                    {{form.colour}}
                </div>

                <div class="col-md-3">
                    <label for="id_palet" class="form-label">Renk Paleti</label>
                    <input id="id_palet" class="form-control" type="color">
                  </div>
            </div>
            
          </div>
    
          <div class="col-md-3">
            <label for="id_layer_count" class="form-label">Tabaka Sayı</label>
            {{form.layer_count}}
          </div>

          <div class="col-md-3">
            <label for="id_layer_letter" class="form-label">Tabaka Harf</label>
            {{form.layer_letter}}
          </div>


          <div class="col-md-3">
            <label for="id_phase" class="form-label">Evre</label>
            {{form.phase}}
          </div>


          <div class="col-md-3">
            <label for="id_period" class="form-label">Dönem</label>
            {{form.period}}
          </div>
      </form>

    </div>




</div>


<script>

    window.onload = function() {

        document.querySelectorAll('#submit-buluntu,input,textarea,select,option').forEach(function(element){
            
            if (element.id === "id_date") {

                element.type = "date"
            }

            if (["id_plankareNo", 'id_noResult'].includes(element.id)) {

                element.disabled = true
            }
            
            element.classList.add('form-control')
            element.classList.add('mb-3')
        })


        // plankareler alanı
        const plankareX = document.getElementById('id_plankareX')
        const plankareY = document.getElementById('id_plankareY')
        const plankareNo = document.getElementById('id_plankareNo')

        // buluntu alanı
        const buluntuNo = document.getElementById('id_no')
        const buluntuNoSonuc = document.getElementById('id_noResult')
        const kucukBuluntuNo = document.getElementById('id_secondaryNo')
        const buluntuTur = document.getElementById('id_type')

        plankareX.addEventListener("change", function(e) {

            let output = `${e.target.value} ${plankareY.value}`
            let buluntuNoOutput;

            plankareNo.value = output

            buluntuNoOutput = `${output} ${buluntuNo.value} / `

            if (kucukBuluntuNo.value) {
                 buluntuNoOutput += kucukBuluntuNo.value
            }

            buluntuNoSonuc.value = buluntuNoOutput
        })
  

        plankareY.addEventListener("change", function(e) {


            let output = `${plankareX.value} ${e.target.value}`
            let buluntuNoOutput;


            plankareNo.value = output

            buluntuNoOutput = `${output} ${buluntuNo.value} / `

            if (kucukBuluntuNo.value) {
                 buluntuNoOutput += kucukBuluntuNo.value
            }

            buluntuNoSonuc.value = buluntuNoOutput
        
        })


        // plankareler alanı biter
        


        buluntuNo.addEventListener('change', function(e) {

              buluntuNoSonuc.value = `${plankareX.value} ${plankareY.value}  ${e.target.value} /`
        })


        kucukBuluntuNo.addEventListener('change', function(e) {

          buluntuNoSonuc.value = `${plankareX.value} ${plankareY.value} ${buluntuNo.value} / ${e.target.value}`
          
        })


        buluntuTur.addEventListener('change', function(e) {
            console.log("event buluntu tur:", e.target.value.toLowerCase())
            let output;
            switch(e.target.value.toLowerCase()) {

                case "keramik":
                case "küçük buluntu":

                  output = `${plankareX.value} ${plankareY.value} ${buluntuNo.value} / ${kucukBuluntuNo.value}`
                  break;

                case "kemik":
                  output = `${plankareX.value} ${plankareY.value} ${buluntuNo.value}b / ${kucukBuluntuNo.value}`
                  break;
           
                case "taş":
                  output = `${plankareX.value} ${plankareY.value} ${buluntuNo.value}c / ${kucukBuluntuNo.value}`
                  break;
                
            }

            buluntuNoSonuc.value = output
    
        })
    
      }


</script>

{% endblock site-content %}